flask==3.0.3
flask-cors==4.0.1
psycopg2-binary==2.9.9
pandas==<RUN_PIP_FREEZE>
numpy==<RUN_PIP_FREEZE>
scipy==<RUN_PIP_FREEZE>
textblob==0.18.0.post0
lightgbm==<RUN_PIP_FREEZE>
scikit-learn==<RUN_PIP_FREEZE>
gunicorn==22.0.0